/* Reset e base */
body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: white;
  color: black;
}

/* Cabeçalho */
header h1 {
  font-size: 2em;
  margin-bottom: 4;
}

header p {
  font-size: 14px;
  max-width: 800px;
}

/* Baguio de esticar a imagem*/
.banner {
  background-image: url('Stands/pngwing.com.png'); /* coloque a extensão correta da imagem */
  background-size: contain;        /* exibe a imagem inteira, mesmo que sobre espaço */
  background-repeat: no-repeat;    /* evita repetição da imagem */
  background-position: center;     /* centraliza a imagem */
  height: 590px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;         /* mostra o fundo branco onde a imagem não cobre */
  color: white;
}


/* sobreposição de conteudo da imagem */
.overlay {
  text-align: center;
  padding: 100px;
  width: 100%;
}

/* navegação */
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Estrutura principal */
.container {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

/* Caixa da esquerda */
.como-conseguir {
  width: 250px;
  border: 2px solid black;
  padding: 10px;
}

/* Área de cards */
.cards-area {
  flex: 1;
}

.cards-area h2 {
  margin: 0;
  font-size: 24px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

/* Estilo dos cards */
.card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 160px;
  position: relative;
  top:-30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
}

.foto-stand {
  width: 100px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50% / 40%;
  overflow: hidden; /* ESSENCIAL para cortar a imagem no formato oval */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.foto-stand img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preenche o oval sem distorcer */
}



